@using Nostrid.Components
@using Nostrid.Data
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@using Nostrid.Misc;
@using System.Collections.Concurrent;
@inject FeedService feedService
@inject RelayService relayService
@inject AccountService accountService
@implements IDisposable

@code {
    [Parameter]
    public SubscriptionFilter BaseFilter { get; set; }
}

@if (newN.Count > 0)
{
    <div class="text-center border-top px-3" style="margin: 0 -1rem;">
        <button class="btn btn-link btn-sm mx-3 my-2" type="button" @onclick="ShowNewPosts">Show @newN.Count new posts</button>
    </div>
}

@if (renderedN.Count == 0)
{
    <div class="text-center px-3 py-2 border-top" style="margin: 0 -1rem;">
        <div class="spinner-border mx-3 my-2" role="status">
            <span class="visually-hidden">Waiting for feed...</span>
        </div>
    </div>
}
else
{
    <NoteTreeViewer @ref="noteTreeViewer" Trees="@feedService.GetTreesFromNotes(renderedN.Values)" NewestOnTop="true" OnReply="OnReply" />
    <div class="text-center border-top px-3" style="margin: 0 -1rem -1rem -1rem;">
        <button class="btn btn-link btn-sm mx-3 my-2" type="button" @onclick="@LoadMore">Load more</button>
    </div>
}

<div class="position-fixed main-margin p-3" style="right: 0; bottom: 0;">
    <button disabled="@requestDisabled" @onclick="@(async () => await LoadMoreFromNoteAsync())" type="button" class="btn btn-secondary rounded-5 shadow fs-4" style="height: 3rem; width: 3rem;">
        <i class="bi bi-arrow-repeat"></i>
    </button>
</div>

<BootstrapModal @ref="composeModal">
    <div class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Reply</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <NoteComposer ReplyTo="@replyingTo" OnSend="@(() => composeModal.Hide())"></NoteComposer>
                </div>
            </div>
        </div>
    </div>
</BootstrapModal>

@code {
    private ConcurrentDictionary<string, Event> renderedN, newN, oldN;
    private int dbLimit;
    private SubscriptionFilter newFilter, oldFilter;
    private ConcurrentDictionary<string, SubscriptionFilter> detailsFiltersByAccountId = new();
    private Timer refreshPageTimer;
    private string[] renderedIds;
    private NoteTreeViewer noteTreeViewer;
    private bool requestDisabled = false;
    private BootstrapModal composeModal;
    private NoteTree replyingTo = null;

    private const int RelayQueryLimit = 13;
    private const int SecondsForDetailsFilters = 30;

    private void ShowNewPosts()
    {
        Event.MergeAndClear(renderedN, newN);
    }

    private void LoadMore()
    {
        dbLimit += RelayQueryLimit;
        Event.Merge(renderedN, feedService.GetNotesFeed(BaseFilter.GetFilters(), dbLimit));
    }

    private async Task LoadMoreFromNoteAsync()
    {
        if (noteTreeViewer == null)
        {
            return;
        }
        var noteViewer = await noteTreeViewer.GetFirstVisibleAsync();
        if (noteViewer == null)
        {
            return;
        }

        oldFilter.limitFilterData.Until = noteViewer.Tree.Note.CreatedAtCurated;
        relayService.RefreshFilters(oldFilter);

        requestDisabled = true;

        Timer enableTimer = null;
        enableTimer = new Timer(new TimerCallback(_ =>
        {
            requestDisabled = false;
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
            enableTimer.Dispose();
        }), null, 5000, 5000);
    }

    private void ReceivedNotes(object? sender, (string filterId, IEnumerable<Event> notes) data)
    {
        if (_disposed || renderedN == null || renderedIds == null || (data.filterId != oldFilter.Id && data.filterId != newFilter.Id))
            return;

        UpdateDetailFilters(data.notes);

        if (data.filterId == oldFilter.Id)
        {
            Event.Merge(renderedN, data.notes);
        }
        else
        {
            Event.Merge(newN, data.notes, newEv => !renderedN.TryGetValue(newEv.Id, out var oldEv) ? true : (!oldEv.Processed && newEv.Processed));
        }
    }

    private void UpdateDetailFilters(IEnumerable<Event> newEvents)
    {
        var accountIds = newEvents.Select(n => n.PublicKey).Where(n => !detailsFiltersByAccountId.ContainsKey(n));
        foreach (var accountId in accountIds)
        {
            var filter = new AccountDetailsSubscriptionFilter(accountId)
            {
                DestroyOnEose = true,
                DestroyOnFirstEvent = true,
                DestroyOn = DateTimeOffset.UtcNow.AddSeconds(SecondsForDetailsFilters)
            };
            if (detailsFiltersByAccountId.GetOrAdd(accountId, filter) == filter)
            {
                relayService.AddFilter(filter);
            };
        }
    }

    protected override void OnParametersSet()
    {
        Cleanup();

        renderedN = new();
        newN = new();
        oldN = new();
        renderedIds = new string[0];

        newFilter = BaseFilter.Clone();
        oldFilter = BaseFilter.Clone();
        oldFilter.limitFilterData.Limit = RelayQueryLimit;
        oldFilter.limitFilterData.Until = DateTimeOffset.UtcNow;
        newFilter.limitFilterData.Limit = 1;
        dbLimit = 0;

        relayService.AddFilters(newFilter, oldFilter);

        LoadMore();

        feedService.ReceivedNotes += ReceivedNotes;
        feedService.NoteUpdated += NoteUpdated;
        feedService.NoteReceivedChild += NoteReceivedChild;

        refreshPageTimer = new Timer(new TimerCallback(_ =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 0, 5000);
    }

    private void OnReply(NoteTree noteTree)
    {
        replyingTo = noteTree;
        StateHasChanged();
        composeModal.Show();
    }

    private void NoteUpdated(object? sender, Event ev)
    {
        if (!renderedN.ContainsKey(ev.Id))
            return;

        renderedN[ev.Id] = ev;
        InvokeAsync(() => StateHasChanged());
    }

    private void NoteReceivedChild(object? sender, (string EventId, Event Child) data)
    {
        if (!renderedN.ContainsKey(data.EventId))
            return;

        renderedN[data.Child.Id] = data.Child;
        InvokeAsync(() => StateHasChanged());
    }

    #region Dispose
    private bool _disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                Cleanup();
            }

            _disposed = true;
        }
    }

    private void Cleanup()
    {
        feedService.ReceivedNotes -= ReceivedNotes;
        feedService.NoteUpdated -= NoteUpdated;
        feedService.NoteReceivedChild -= NoteReceivedChild;
        relayService.DeleteFilters(newFilter, oldFilter);
        relayService.DeleteFilters(detailsFiltersByAccountId.Values);
        refreshPageTimer?.Dispose();
    }
    #endregion

}
