@using Nostrid.Data.Relays;
@using Nostrid.Data;
@using Nostrid.Misc;

@inject RelayService relayService
@inject EventDatabase eventDatabase
@inject AccountService accountService
@inject NotificationService notificationService
@inject IJSRuntime jsRuntime

@implements IDisposable

@code
{
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[CascadingParameter]
	public Scripts? Scripts { get; set; }
}

<div class="d-flex flex-row flex-grow-1">

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
		<div class="offcanvas-body d-flex flex-column flex-grow-1">
		
			<UpdatabableElement @ref="loggedInElements">
				<div class="d-flex flex-row align-items-center justify-content-between">
					@if (accountService.MainAccount != null)
					{
						<a href="@($"account/{accountService.MainAccount?.Id}")" @onclick="HideOffCanvasMenu">
							<AccountPicture Id="@accountService.MainAccount?.Id" Size="48"></AccountPicture>
						</a>
					}
					<div>
						@{
							var otherAccountsCount = eventDatabase.GetAccountIdsWithPk()
								.Concat(accountService.GetAccountsWithSigners())
								.Where(accountId => accountId != accountService.MainAccount?.Id)
								.Distinct()
								.Count();
						}
						@if (otherAccountsCount > 0)
						{
							<a @onclick="@(async () => { accountsModal?.Show(); await HideOffCanvasMenu(); })" role="button" class="btn btn-sm @(accountService.MainAccount == null ? "btn-primary" : "btn-outline-secondary") rounded-5 fs-6 me-2">
								<i class="bi bi-arrow-left-right"></i>
								@if (accountService.MainAccount == null)
								{
									<span class="me-2">&nbsp;Select account</span>
								}
							</a>
						}
						<a @onclick="@(async () => { accountsModal?.Show(true); await HideOffCanvasMenu(); })" role="button" class="btn btn-sm @(accountService.MainAccount == null && otherAccountsCount == 0 ? "btn-primary" : "btn-outline-secondary") rounded-5 fs-6">
							<i class="bi bi-plus-lg"></i> 
							@if (accountService.MainAccount == null && otherAccountsCount == 0)
							{
								<span class="me-2">&nbsp;Add account</span>
							}
						</a>
					</div>
				</div>
				@if (accountService.MainAccount != null)
				{
					<div class="fw-bold mt-2 text-nowrap overflow-hidden account-name flex-shrink-0">
						<a href="@($"account/{accountService.MainAccount?.Id}")" @onclick="HideOffCanvasMenu">
							<AccountName Id="@accountService.MainAccount?.Id" OnlyText="true"></AccountName>
						</a>
					</div>
				}
			</UpdatabableElement>

			<hr style="-webkit-mask: linear-gradient(to right, #000, #0000) !important;" />

			<nav class="flex-grow-1 w-100">
				<ul class="nav nav-pills flex-column fs-5">
					<li class="nav-item">
						<NavLink class="nav-link text-nowrap bg-secondary-hover" href="/feed" @onclick="HideOffCanvasMenu">
							<i class="bi bi-house display-inactive" aria-hidden="true"></i>
							<i class="bi bi-house-fill display-active" aria-hidden="true"></i>
							<span>Feed</span>
							<UpdatabableElement @ref="mentionsElement">
								@if (mentionsCount > 0)
								{
									<span class="badge rounded-pill bg-danger fs-8" style="vertical-align: 2px;">
										@mentionsCount
									</span>
								}
							</UpdatabableElement>
						</NavLink>
					</li>
					<li class="nav-item">
						<NavLink class="nav-link text-nowrap bg-secondary-hover" href="long" @onclick="HideOffCanvasMenu">
							<i class="bi bi-pen display-inactive" aria-hidden="true"></i>
							<i class="bi bi-pen-fill display-active" aria-hidden="true"></i>
							<span>Blogs</span>
						</NavLink>
					</li>
					<li class="nav-item">
						<NavLink class="nav-link text-nowrap bg-secondary-hover" href="channels" @onclick="HideOffCanvasMenu">
							<i class="bi bi-tv display-inactive" aria-hidden="true"></i>
							<i class="bi bi-tv-fill display-active" aria-hidden="true"></i>
							<span>Channels</span>
						</NavLink>
					</li>
					<li class="nav-item">
						<NavLink class="nav-link text-nowrap bg-secondary-hover" href="explore" @onclick="HideOffCanvasMenu">
							<svg style="width: 17.5px; height: 17.5px; margin-top: -4px;" class="display-inactive" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
							<svg style="width: 17.5px; height: 17.5px; margin-top: -4px;" class="display-active" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
								<path d="M 10.249 9.251 C 12.366 6.363 10.562 2.268 7.004 1.879 C 3.445 1.49 0.801 5.099 2.243 8.375 C 3.442 11.098 6.853 12.011 9.25 10.251 C 9.271 10.28 10.28 9.271 10.249 9.25 L 10.249 9.251 Z" />
							</svg>
							<span>Explore</span>
						</NavLink>
					</li>
					<UpdatabableElement @ref="@loggedInElements2">
						@if (accountService.MainAccount != null)
						{
							<li class="nav-item">
								<NavLink class="nav-link text-nowrap bg-secondary-hover" href="dms" @onclick="HideOffCanvasMenu">
									<i class="bi bi-envelope display-inactive" aria-hidden="true"></i>
									<i class="bi bi-envelope-fill display-active" aria-hidden="true"></i>
									<span>Messages</span>
									<UpdatabableElement @ref="dmElement">
										@if (unreadDmCount > 0)
										{
											<span class="badge rounded-pill bg-danger fs-8" style="vertical-align: 2px;">
												@unreadDmCount
											</span>
										}
									</UpdatabableElement>
								</NavLink>
							</li>
						}
					</UpdatabableElement>
					<li class="nav-item">
						<NavLink class="nav-link text-nowrap bg-secondary-hover" href="config" @onclick="HideOffCanvasMenu">
							<i class="bi bi-gear display-inactive" aria-hidden="true"></i>
							<i class="bi bi-gear-fill display-active" aria-hidden="true"></i>
							<span>Settings</span>
						</NavLink>
					</li>
				</ul>
			</nav>
			<div>
				<div class="text-nowrap">
					<UpdatabableElement @ref="relayElements">
						@*<environment include="Development">
							<div>
								Filters: @relayService.FiltersCount
								Rate Limited: @relayService.RateLimitedRelays<br />
							</div>
						</environment>*@
						@{
							<text>Relays</text>
							if (relayService.RelaysMonitor.IsAuto)
							{
								<span> (Auto)</span>
							}
							<text>: </text>
						}
						@relayService.ConnectedRelays/@relayService.RelaysMonitor.MaxRelays/@relayService.RelaysMonitor.PendingRelays
						<i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top"
							data-bs-title="connected / max to use / stand by"></i>
						@if (!relayService.IsRestarting)
						{
							<div class="d-inline-block">
								<button class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center ms-1" 
								@onclick="@ChangeRelays" style="width: 15px; height: 15px;"> 
									<i class="bi bi-arrow-clockwise"></i>
								</button>
							</div>
						}
					</UpdatabableElement>
				</div>
				<div class="fs-7 text-secondary">Version: @Utils.GetCurrentVersion()</div>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column flex-grow-1">
		
		<div>
			<nav class="navbar top-navbar navbar-light bg-body-tertiary d-md-none px-2 py-1 border-bottom bg-opacity-95">
				<div class="flex-grow-1 d-flex flex-row justify-content-between align-items-center">
					<NavLink class="nav-link" href="#">
						<UpdatabableElement @ref="loggedInElements3">
							<a href="@($"account/{accountService.MainAccount?.Id}")" @onclick="HideOffCanvasMenu">
								<AccountPicture Id="@accountService.MainAccount?.Id" Size="35"></AccountPicture>
							</a>
						</UpdatabableElement>
					</NavLink>
					<div class="flex-grow-1 text-center">
						<a class="navbar-brand m-0" href="/">Nostrid</a>
					</div>
					<button title="Navigation menu" class="position-relative navbar-toggler p-1 m-0 glow-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" style="margin: 12px 0;">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
		</div>

		<div class="position-relative d-flex flex-column flex-grow-1 overflow-y-auto">
			<CascadingValue Value="@accountsModal">
				@ChildContent
			</CascadingValue>
		</div>

		<nav class="navbar navbar-light bg-body-tertiary d-md-none p-0 border-top">
			<ul class="nav flex-grow-1 d-flex text-center">
				<li class="nav-item flex-grow-1">
					<NavLink class="nav-link fs-4 text-body" role="button"
						@onclick="@(async () => await jsRuntime.InvokeVoidAsync("history.back"))">
						<i class="bi bi-chevron-left" aria-hidden="true"></i>
					</NavLink>
				</li>
				<li class="nav-item flex-grow-1">
					<NavLink class="nav-link fs-4 text-body" href="/feed">
						<span class="position-relative">
							<i class="bi bi-house display-inactive" aria-hidden="true"></i>
							<i class="bi bi-house-fill display-active" aria-hidden="true"></i>
							<UpdatabableElement @ref="mentionsElement2">
							@if (mentionsCount > 0)
							{
								<span class="position-absolute top-100 start-100 p-1 translate-middle bg-danger border rounded-circle"
									  style="transform: translate(-60%, -100%) !important;">
									<span class="visually-hidden">New alerts</span>
								</span>
							}
							</UpdatabableElement>
						</span>
					</NavLink>
				</li>
				<li class="nav-item flex-grow-1">
					<NavLink class="nav-link fs-4 text-body" href="compose">
						<i class="bi bi-send display-inactive" aria-hidden="true"></i>
						<i class="bi bi-send-fill display-active" aria-hidden="true"></i>
					</NavLink>
				</li>
				<li class="nav-item flex-grow-1">
					<NavLink class="nav-link fs-4 text-body" href="explore">
						<svg style="width: 17.5px; height: 17.5px; margin-top: -4px;" class="display-inactive" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
						</svg>
						<svg style="width: 17.5px; height: 17.5px; margin-top: -4px;" class="display-active" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							<path d="M 10.249 9.251 C 12.366 6.363 10.562 2.268 7.004 1.879 C 3.445 1.49 0.801 5.099 2.243 8.375 C 3.442 11.098 6.853 12.011 9.25 10.251 C 9.271 10.28 10.28 9.271 10.249 9.25 L 10.249 9.251 Z" />
						</svg>
					</NavLink>
				</li>
				<li class="nav-item flex-grow-1">
					<NavLink class="nav-link fs-4 text-body" href="dms">
						<span class="position-relative">
							<i class="bi bi-envelope display-inactive" aria-hidden="true"></i>
							<i class="bi bi-envelope-fill display-active" aria-hidden="true"></i>
							<UpdatabableElement @ref="dmElement2">
								@if (unreadDmCount > 0)
								{
									<span class="position-absolute top-100 start-100 p-1 translate-middle bg-danger border rounded-circle"
										  style="transform: translate(-60%, -100%) !important;">
										<span class="visually-hidden">New alerts</span>
									</span>
								}
							</UpdatabableElement>
						</span>
					</NavLink>
				</li>
			</ul>
		</nav>

	</div>
</div>

<AccountsModal @ref="accountsModal" />

@code {

	private int mentionsCount, unreadDmCount;
	private UpdatabableElement? mentionsElement, mentionsElement2, loggedInElements, loggedInElements2, loggedInElements3, relayElements, dmElement, dmElement2;
	private AccountsModal? accountsModal;

	private void NotificationNumberChanged(object? sender, (int mentionsCount, int unreadDmCount) data)
	{
		mentionsCount = data.mentionsCount;
		unreadDmCount = data.unreadDmCount;
		mentionsElement?.Update();
		mentionsElement2?.Update();
		dmElement?.Update();
		dmElement2?.Update();
	}

	private void MainAccountChanged(object? sender, EventArgs args)
	{
		loggedInElements?.Update();
		loggedInElements2?.Update();
		loggedInElements3?.Update();
	}

	private void ClientStatusChanged(object? sender, (long, bool) data)
	{
		relayElements?.Update();
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		notificationService.NotificationNumberChanged += NotificationNumberChanged;
		accountService.MainAccountChanged += MainAccountChanged;
		relayService.ClientStatusChanged += ClientStatusChanged;
		(mentionsCount, unreadDmCount) = notificationService.GetNotificationNumber();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			notificationService.Update();
		}
	}

	private void ChangeRelays()
	{
		Task.Run(() => relayService.RestartNostrClients());
	}

	private async Task HideOffCanvasMenu()
	{
		if (Scripts != null)
		{
			await Scripts.InvokeVoidAsync("hideOffcanvasMenu");
		}
	}

	#region Dispose
	private bool disposed;

	public void Dispose() => Dispose(true);

	protected virtual void Dispose(bool disposing)
	{
		if (!disposed)
		{
			if (disposing)
			{
				Cleanup();
			}

			disposed = true;
		}
	}

	private void Cleanup()
	{
		notificationService.NotificationNumberChanged -= NotificationNumberChanged;
		accountService.MainAccountChanged -= MainAccountChanged;
		relayService.ClientStatusChanged -= ClientStatusChanged;
	}
	#endregion
}
