@using Nostrid.Data;
@using Nostrid.Interfaces;
@using Nostrid.Model;

@inject FeedService feedService

@code{
    [Parameter, EditorRequired]
    public IEnumerable<NoteTreeNode> Trees { get; set; } = null!;

    [Parameter]
    public bool Root { get; set; } = true;

    [Parameter]
    public string? MainEventId { get; set; }

    [Parameter]
    public bool ShowAsMessage { get; set; }

    [Parameter]
    public int[] TreeLayout { get; set; } = new int[0];

    [Parameter]
    public bool OnlyChild { get; set; }

    [Parameter]
    public Action<Event>? OnReply { get; set; }

    [Parameter]
    public Action<Event>? OnRepost { get; set; }

    [Parameter]
    public Action<string>? OnPay { get; set; }

    [Parameter]
    public Action<Event>? OnDelete { get; set; }

    [Parameter]
    public int ChildIndex { get; set; }

    [Parameter]
    public bool NotClickable { get; set; }
}

@{
    var i = 0;
    foreach (var tree in Trees)
    {
        var treeLayout = (TreeLayout ?? new int[0]);
        if (!OnlyChild)
        {
            treeLayout = treeLayout.Append(Trees.Count() - (i++)).ToArray();
        }

        if (tree is NoteTreeShowMore noteTreeShowMore)
        {
            <NoteViewerSeeMore NoteTreeShowMore="@noteTreeShowMore"
                   OnlyChild="@OnlyChild"
                   TreeLayout="@treeLayout"
                   ChildIndex="@noteTreeShowMore.ShowMoreChildIndex" />
        }
        else if (tree is NoteTree noteTree)
        {
            if (ShowAsMessage)
            {
                <MessageWrapperViewer Tree="@noteTree"
                    OnComponentLoad="AddTreeItemComponent" OnComponentUnload="RemoveTreeItemComponent"
                    OnReply="@(Root ? (arg => Reply(arg)) : OnReply)"
                    OnRepost="@(Root ? (arg => Repost(arg)) : OnRepost)"
                    OnPay="@(Root ? (arg => Pay(arg)) : OnPay)"
                    OnDelete="@(Root ? (arg => Delete(arg)) : OnDelete)" />
            }
            else
            {
                <NoteViewer Tree="@noteTree" MainEventId="@MainEventId" TreeLayout="@treeLayout" OnlyChild="@OnlyChild"
                    OnComponentLoad="AddTreeItemComponent" OnComponentUnload="RemoveTreeItemComponent"
                    OnReply="@(Root ? (arg => Reply(arg)) : OnReply)"
                    OnRepost="@(Root ? (arg => Repost(arg)) : OnRepost)"
                    OnPay="@(Root ? (arg => Pay(arg)) : OnPay)"
                    OnDelete="@(Root ? (arg => Delete(arg)) : OnDelete)"
                    ChildIndex="@ChildIndex" NotClickable="@NotClickable" />
            }
        }
    }
    if (Root)
    {
        <ModalContainer @ref="composeModal">
            <div class="modal fade" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Reply</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <NoteComposer ReplyTo="@replyingToEvent" ChannelId="@replyingToEvent?.ChannelId" OnSend="@(() => composeModal?.Hide())"></NoteComposer>
                        </div>
                    </div>
                </div>
            </div>
        </ModalContainer>
        <ConfirmationModal @ref="confirmationModal"></ConfirmationModal>
        <PayModal @ref="payModal" />
    }
}

@code{
    private List<ITreeItem> treeItemRefs = new List<ITreeItem>();
    private Event? replyingToEvent;
    private ModalContainer? composeModal;
    private ConfirmationModal? confirmationModal;
    private PayModal? payModal;

    private void AddTreeItemComponent(ITreeItem treeItem)
    {
        treeItemRefs.Add(treeItem);
    }

    private void RemoveTreeItemComponent(ITreeItem treeItem)
    {
        treeItemRefs.Remove(treeItem);
    }

    public IEnumerable<ITreeItem> GetTreeItems()
    {
        return treeItemRefs.SelectMany(n => n.GetTreeItems());        
    }

    public async Task<ITreeItem?> GetFirstVisibleAsync()
    {
        return (await Task.WhenAll(GetTreeItems().Select(async n => new
        {
            IsVisible = await n.IsVisibleAsync(),
            TreeItem = n
        }))).FirstOrDefault(n => n.IsVisible)?.TreeItem;
    }

    private void Reply(Event _event)
    {
        replyingToEvent = _event;
        StateHasChanged();
        composeModal?.Show();
    }

    private void Repost(Event _event)
    {
        confirmationModal?.Show(ConfirmationModal.Options.Create(
            "Are you sure you want to repost this note?",
            "Repost",
            ConfirmationModal.Options.Button.CreateNoButton(),
            ConfirmationModal.Options.Button.CreateYesButton(async () => await feedService.Repost(_event))));
    }

    private void Pay(string accountId)
    {
        payModal?.Show(accountId);
    }

    private void Delete(Event _event)
    {
        confirmationModal?.Show(ConfirmationModal.Options.Create(
            "Are you sure you want to delete this note?",
            "Delete",
            ConfirmationModal.Options.Button.CreateNoButton(),
            ConfirmationModal.Options.Button.CreateYesButton(async () => await feedService.DeleteNote(_event), "btn-danger")));
    }
}
