<Router AppAssembly="@typeof(Main).Assembly" AdditionalAssemblies="new[] { typeof(Nostrid.Shared.NavMenu).Assembly, typeof(Nostrid.Data.AccountService).Assembly }">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1,h2,h3,h4,h5,h6" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
