@page "/channel/{id}"

@code {
    [Parameter]
    public string Id { get; set; }
}

@using Nostrid.Data.Relays;
@using Nostrid.Data;
@using Nostrid.Model;
@inject ChannelService channelService

<h4>Channel @Id</h4>
<h3>@channel.Details?.Name</h3>

<div class="d-none d-md-flex px-3" style="margin: 0 -1rem;">
    <NoteComposer ChannelId="@Id" />
</div>

<FeedViewer BaseFilter="@filter" MessageKinds="@(new[]{NostrKind.ChannelMessage})" ChannelId="@Id" />

@code {
    private SubscriptionFilter filter;
    private Channel channel;

    protected override void OnParametersSet()
    {
        channel = channelService.GetChannel(Id);
        filter = new ChannelSubscriptionFilter(Id);
    }
}