@page "/follows"
@implements IDisposable

@using Nostrid.Data;
@using Nostrid.Data.Relays;
@using Nostrid.Interfaces;
@using Nostrid.Model;
@using Nostrid.Misc;
@using System.Collections.Concurrent;
@using Microsoft.AspNetCore.Components.Web.Virtualization;

@inject AccountService accountService
@inject RelayService relayService
@inject FeedService feedService
@inject IClipboardService clipboardService

@code
{
    [CascadingParameter]
    public Alert? Alert { get; set; }

    [CascadingParameter]
    public Scripts? Scripts { get; set; }
}

<div class="alert alert-light m-0" role="alert">
    These are your current and previous follows. Source data is what is stored in your local
    database and what is reported by relays.
    If there are missing follows then try connecting to other relays.
    Your follows are NOT changed unless you press the UPDATE button.
</div>

<div style="margin-bottom: -1rem;" class="mx--3">
    <div class="sticky-top border-bottom d-flex flex-row p-3 bg-body">
        <div class="d-flex flex-row flex-grow-1 align-items-center flex-wrap">
            <div class="btn-group me-3 mb-1">
                <button class="btn btn-outline-secondary" @onclick="OpenImportModal">Import</button>
                <button class="btn btn-outline-secondary" @onclick="OpenExportModal">Export</button>
            </div>
            <button class="btn btn-primary me-3 mb-1" @onclick="Update" disabled="@loading">
                @if (loading)
                {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Updating...</span>
                }
                else
                {
                        <span>Update</span>
                }
            </button>
            <div class="fs-7">
                <span>@(follows?.Values.Count(f => f.Selected)) will be followed.</span>
                <span>@(follows?.Values.Count(f => !f.Selected)) will not be followed.</span>
            </div>
        </div>
        <div class="d-flex flex-column align-items-end">
            <label role="button" for="selectAll" class="fs-7 text-nowrap">@(SelectAll ? "Unselect" : "Select") All</label>
            <div class="form-check m-0">
                <InputCheckbox id="selectAll" @bind-Value="SelectAll" class="form-check-input" style="width: 20px; height: 20px;" />
            </div>
        </div>
    </div>
    <Virtualize Context="follow" Items="follows?.Values">
        <FollowAccount AccountId="@follow.AccountId" Selectable="true" @bind-Selected="follow.Selected">
            <span class="fw-bold">@(follow.EventTime.HasValue ? follow.EventTime : "Imported")</span>
        </FollowAccount>
    </Virtualize>
</div>

<ModalContainer @ref="viewerModal">
    <div class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-sm-down modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@viewerModalTitle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0 d-flex">
                    <InputTextArea class="form-control rounded-0 border-0 glow-0" style="resize: none;" rows="10"
                                   placeholder="Paste one npub or hex per line" @bind-Value="viewerModalContent" readonly="@viewerModalContentReadonly">
                    </InputTextArea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="@(() => viewerModalAction?.Invoke())">@viewerModalActionText</button>
                </div>
            </div>
        </div>
    </div>
</ModalContainer>

<ModalContainer @ref="exportModal">
    <div class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Export</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 mb-4">
                        <label class="col-12 col-sm-4 fw-bold" for="switchExportSelected">
                            Contacts
                        </label>
                        <label class="col-4 col-sm-3 text-sm-end" for="switchExportSelected">All</label>
                        <div class="col-4 col-sm-2 d-flex justify-content-center">
                            <div class="form-check form-switch m-0 p-0 fs-4">
                                <input type="checkbox" class="form-check-input m-0 float-end" role="switch" id="switchExportSelected"
                                       @bind-value="exportSelected" />
                            </div>
                        </div>
                        <label class="col-4 col-sm-3 text-end text-sm-start" for="switchExportSelected">Selected only</label>
                    </div>
                    <div class="row g-2 mb-4">
                        <label class="col-12 col-sm-4 fw-bold" for="switchExportHex">
                            Keys
                        </label>
                        <label class="col-4 col-sm-3 text-sm-end" for="switchExportHex">npub</label>
                        <div class="col-4 col-sm-2 d-flex justify-content-center">
                            <div class="form-check form-switch m-0 p-0 fs-4">
                                <input type="checkbox" class="form-check-input m-0 float-end" role="switch" id="switchExportHex"
                                       @bind-value="exportHex" />
                            </div>
                        </div>
                        <label class="col-4 col-sm-3 text-end text-sm-start" for="switchExportHex">hex</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="Export">Export</button>
                </div>
            </div>
        </div>
    </div>
</ModalContainer>

@code {
    private ConcurrentDictionary<string, Follow>? follows;
    private SubscriptionFilter? filter;

    private ModalContainer? viewerModal;
    private string? viewerModalTitle;
    private string? viewerModalContent;
    private bool viewerModalContentReadonly;
    private string? viewerModalActionText;
    private Action? viewerModalAction;

    private ModalContainer? exportModal;
    private bool exportSelected;
    private bool exportHex;

    private bool selectAll;
    private bool SelectAll
    {
        get => selectAll;
        set
        {
            selectAll = value;
            ToggleAll(value);
        }
    }
    private UpdatabableElement? updateButton;
    private bool loading;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (accountService.MainAccount == null)
        {
            return;
        }

        follows = new();
        filter = new PastFollowsSubscriptionFilter(accountService.MainAccount.Id)
            {
                DontSaveInLocalCache = true,
                Handler = ReceivedEvents,
            };
        relayService.AddFilters(filter);
        ReceivedEvents(feedService.GetNotesFeed(filter, int.MaxValue));
    }

    private void OpenViewerModal(string title, string content, string actionText, Action action)
    {
        viewerModalTitle = title;
        viewerModalContent = content;
        viewerModalContentReadonly = !string.IsNullOrEmpty(content);
        viewerModalActionText = actionText;
        viewerModalAction = action;
        viewerModal?.Show();
    }

    private void OpenImportModal()
    {
        OpenViewerModal("Import", string.Empty, "Import", () => Import());
    }

    private void OpenExportModal()
    {
        exportModal?.Show();
    }

    private void Import()
    {
        var followsToImport = viewerModalContent?.Split(
                new string[] { Environment.NewLine, "\n" },
                StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)
            .Select(f => ByteTools.Bech32ToHex(f, "npub") ?? f)
            .Where(hex => Utils.IsValidNostrId(hex));

        if (followsToImport != null)
        {
            MergeContacts(followsToImport, null);
        }

        viewerModal?.Hide();
    }

    private void Export()
    {
        var content = string.Join(
            Environment.NewLine,
            follows?
                .Where(f => !exportSelected || f.Value.Selected)
                .Select(f => exportHex ? f.Key : ByteTools.HexToBech32(f.Key, "npub")) ?? Enumerable.Empty<string>());

        exportModal?.Hide();
        if (string.IsNullOrEmpty(content))
        {
            Alert?.Show("No follows to export", Alert.Type.Primary);
        }
        else
        {
            OpenViewerModal("Export", content, "Copy to clipboard", async () => await clipboardService.CopyAsync(content));
        }
    }

    private void ToggleAll(bool value)
    {
        follows?.Values.ToList().ForEach(follow => follow.Selected = value);
    }

    private async Task Update()
    {
        var selectedAccountIds = follows?.Values.Where(follow => follow.Selected).Select(follow => follow.AccountId).ToList();
        if (selectedAccountIds == null) return;
        loading = true;
        try
        {
            await accountService.SetFollows(selectedAccountIds);
            Alert?.Show("Follows has been saved", Alert.Type.Success);
        }
        catch
        {
            Alert?.Show("Error updating follows", Alert.Type.Danger);
        }
        finally
        {
            loading = false;
        }
    }

    private void ReceivedEvents(IEnumerable<Event> events)
    {
        foreach (var ev in events)
        {
            var newFollows = accountService.GetFollowsFromEvent(ev);
            MergeContacts(newFollows, ev.CreatedAt ?? DateTimeOffset.MinValue);
        }
        InvokeAsync(() => StateHasChanged());
    }

    private void MergeContacts(IEnumerable<string> newFollows, DateTimeOffset? eventTime)
    {
        foreach (var follow in newFollows)
        {
            follows?.AddOrUpdate(
                follow,
                new Follow(follow, eventTime, accountService.IsFollowing(follow)),
                (_, oldv) => eventTime == null || oldv.EventTime > eventTime 
                    ? oldv 
                    : new Follow(follow, eventTime, accountService.IsFollowing(follow)));
        }
    }

    private class Follow
    {
        public string AccountId { get; set; }
        public DateTimeOffset? EventTime { get; set; }
        public bool Selected { get; set; }

        public Follow(string accountId, DateTimeOffset? eventTime, bool selected)
        {
            AccountId = accountId;
            EventTime = eventTime;
            Selected = selected;
        }
    }

    #region Dispose
    private bool _disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                Cleanup();
            }

            _disposed = true;
        }
    }

    private void Cleanup()
    {
        if (filter != null)
        {
            relayService.DeleteFilters(filter);
        }
    }
    #endregion
}
