@page "/note/{eventId}"
@implements IDisposable

@code {
    [Parameter]
    public string EventId { get; set; }
}

@using Nostrid.Components
@using Nostrid.Data
@using Nostrid.Data.Relays;
@using Nostrid.Model;
@using Nostrid.Misc;
@using System.Collections.Concurrent;
@inject FeedService feedService
@inject RelayService relayService

<h2>@ByteTools.PubkeyToNote(EventId, true)</h2>
@*<button class="btn btn-sm btn-outline-secondary mb-2 mx-3" type="button" @onclick="@CopyNotePubkey">
    <i class="bi bi-clipboard"></i>
</button>*@
<div class="fs-7 text-body-tertiary text-break mb-2">@ByteTools.PubkeyToNote(EventId, false)</div>
@if (renderedN.Any())
{
    @if (!noteTrees.Exists(EventId) || 
        (!maxReached && (noteTrees.Count != 1 ||!string.IsNullOrEmpty(noteTrees[0].Note.NoteMetadata.ReplyToId))))
    {
        <div class="text-secondary mb-2">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span>Thread not fully visible. Wait, or rotate the relays.</span>
        </div>
    }
    else if (maxReached)
    {
        <div class="text-secondary mb-2">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span>Thread only partially visible due to excessive nesting.</span>
        </div>
    }
}

@if (!renderedN.Any())
{
    <div class="text-center px-3 py-2 border-top" style="margin: 0 -1rem;">
        <div class="spinner-border mx-3 my-2" role="status">
            <span class="visually-hidden">Waiting for feed...</span>
        </div>
    </div>
}
else
{
    <div style="margin-bottom: -1rem;">
        <NoteTreeViewer Trees="@noteTrees" NewestOnTop="true" MainEventId="@EventId" OnReply="OnReply" />
    </div>
    <BootstrapModal @ref="composeModal">
        <div class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Reply</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <NoteComposer ReplyTo="@replyingTo" OnSend="@(() => composeModal.Hide())"></NoteComposer>
                    </div>
                </div>
            </div>
        </div>
    </BootstrapModal>
}

<ScriptsComponent @ref="scripts" />

@code {
    private ConcurrentDictionary<string, Event> renderedN = new();
    private List<NoteTree> noteTrees = new();
    private Timer refreshTimer;
    private ConcurrentDictionary<string, SubscriptionFilter> detailsFiltersByAccountId = new();
    private SubscriptionFilter eventFilter;
    private bool maxReached;
    private BootstrapModal composeModal;
    private NoteTree replyingTo = null;
    private ScriptsComponent scripts;

    private const int SecondsForDetailsFilters = 30;

    protected override void OnParametersSet()
    {
        Cleanup();

        renderedN = new();

        feedService.NoteUpdated += NoteUpdated;
        feedService.NoteReceivedChild += NoteReceivedChild;

        refreshTimer = new Timer(new TimerCallback(_ =>
        {
            if (_disposed)
                return;

            var copied = new List<Event>();
            var mustRefresh = Event.Merge(renderedN, feedService.GetNotesThread(EventId, downLevels: 4, out maxReached), onCopy: (ev) => copied.Add(ev));

            if (copied.Any())
            {
                UpdateDetailFilters(copied);
                UpdateEventFilters();
                mustRefresh = true;
            }

            if (mustRefresh)
            {
                noteTrees = feedService.GetTreesFromNotes(renderedN.Values);
                InvokeAsync(() =>
                {
                    StateHasChanged();
                });
            }
        }), null, 0, 3000);
    }

    private void UpdateDetailFilters(IEnumerable<Event> newEvents)
    {
        var accountIds = newEvents.Select(n => n.PublicKey).Where(n => !detailsFiltersByAccountId.ContainsKey(n));
        foreach (var accountId in accountIds)
        {
            var filter = new AccountDetailsSubscriptionFilter(accountId)
            {
                DestroyOnEose = true,
                DestroyOnFirstEvent = true,
                DestroyOn = DateTimeOffset.UtcNow.AddSeconds(SecondsForDetailsFilters)
            };
            if (detailsFiltersByAccountId.GetOrAdd(accountId, filter) == filter)
            {
                relayService.AddFilter(filter);
            };
        }
    }

    private void NoteUpdated(object? sender, Event ev)
    {
        if (!renderedN.ContainsKey(ev.Id))
            return;

        renderedN[ev.Id] = ev;
        InvokeAsync(() => StateHasChanged());
    }

    private void NoteReceivedChild(object? sender, (string EventId, Event Child) data)
    {
        if (!renderedN.ContainsKey(data.EventId))
            return;

        renderedN[data.Child.Id] = data.Child;
        InvokeAsync(() => StateHasChanged());
    }

    private static object atomicSwap = new object();
    private void UpdateEventFilters()
    {
        SubscriptionFilter addedFilter, oldFilter;
        var renderedNValues = renderedN.Values;
        var ids = renderedNValues.SelectMany(t => new[] { t.Id, t.NoteMetadata.ReplyToId, t.NoteMetadata.ReplyToRootId }).Union(new[] { EventId }).Where(t => !string.IsNullOrEmpty(t)).Distinct();
        relayService.AddFilter(addedFilter = new EventSubscriptionFilter(ids.ToArray()));
        lock (atomicSwap)
        {
            (eventFilter, oldFilter) = (addedFilter, eventFilter);
        }
        relayService.DeleteFilter(oldFilter);
    }

    private void OnReply(NoteTree noteTree)
    {
        replyingTo = noteTree;
        StateHasChanged();
        composeModal.Show();
    }

    private void CopyNotePubkey()
    {
        scripts.InvokeVoid("copyToClipboard", ByteTools.PubkeyToNote(EventId, false));
    }

    #region Dispose
    private bool _disposed;

    public void Dispose() => Dispose(true);

    protected virtual void Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                Cleanup();
            }

            _disposed = true;
        }
    }

    private void Cleanup()
    {
        feedService.NoteUpdated -= NoteUpdated;
        feedService.NoteReceivedChild -= NoteReceivedChild;
        refreshTimer?.Dispose();
        relayService.DeleteFilter(eventFilter);
        relayService.DeleteFilters(detailsFiltersByAccountId.Values);
    }
    #endregion

}
