@implements IAsyncDisposable

@using Nostrid.Data.Relays;
@using Nostrid.Data;
@using Nostrid.Misc;
@using Nostrid.Model;
@using Ganss.Xss;
@using System.Web;

@inject NavigationManager navigationManager
@inject AccountService accountService
@inject FeedService feedService
@inject IJSRuntime jsRuntime
@inject HtmlSanitizer htmlSanitizer

<div role="button" @ref="referenceElement" class="d-flex flex-row px-3 py-2 @(!ReplyingTo ? "bg-tertiary-hover border-top" : "" ) @(Tree.Note.Id == MainEventId ? "bg-body-secondary" : "")"
     @onclick="@(() => navigationManager.NavigateTo($"/note/{Tree.Note.Id}"))" style="margin: 0 -1rem; font-size: .95rem;">

    @for (var i = 1; i < TreeLayout.Length; i++)
    {
        var last = i == TreeLayout.Length - 1;
        <div class="flex-shrink-0 d-flex flex-row justify-content-center align-items-top" style="width: 48px;">
            <div class="flex-grow-1"></div>
            @if (TreeLayout[i] > 1)
            {
                <div class="bg-secondary opacity-75" style="width: 2px; margin-bottom: -1.07rem;"></div>
            }
            else if (!OnlyChild && TreeLayout[i] == 1 && last)
            {
                <div class="bg-secondary opacity-75" style="width: 2px; height: 25px;"></div>
            }
            <div class="flex-grow-1 d-flex flex-column justify-content-center" style="height: 48px;">
                @if (!OnlyChild && last)
                {
                    <div class="bg-secondary opacity-75" style="height: 2px;"></div>
                }
            </div>
        </div>
    }

    @if (Tree.Note.Deleted)
    {
        <div class="d-flex flex-grow-1 align-items-center justify-content-center text-secondary">Note deleted</div>
    }
    else
    {
        <div class="d-flex flex-column align-items-center">
            <a class="flex-shrink-0" href="/account/@Tree.Note.PublicKey" @onclick:stopPropagation="true">
                <AccountPicture NoteTree="Tree"></AccountPicture>
            </a>
            @if (Tree.Children.Count > 0 || ReplyingTo)
            {
                <div class="flex-grow-1 bg-secondary opacity-75" style="width: 2px; margin-bottom: -1.07rem;"></div>
            }
        </div>
        <div class="flex-grow-1 ms-2">
            @*<a style="font-size: 13px; margin: 0px; padding: 0px;" href="/note/@Tree.Note.Id">@ByteTools.PubkeyToNote(Tree.Note.Id, true)</a>*@
            <p class="mb-1">
                <a href="/account/@Tree.Note.PublicKey" @onclick:stopPropagation="true" class="fw-bold text-decoration-none mb-1">@Tree.AccountName</a>
                <span class="text-secondary">
                    <span>·</span>
                    <span>@Utils.FormatDate(Tree.Note.CreatedAtCurated)</span>
                    @if (!ReplyingTo
                        && Tree.Note.NoteMetadata.ReplyToId != null
                        && TreeLayout.Length == 1
                        && !OnlyChild)
                    {
                        <span>&nbsp;·</span>
                        <span class="d-inline-block">Replying to
                            <a href="/note/@Tree.Note.NoteMetadata.ReplyToId" @onclick:stopPropagation="true">
                                @ByteTools.PubkeyToNote(Tree.Note.NoteMetadata.ReplyToId, true)
                            </a>
                        </span>
                    }
                </span>
            </p>
            <p class="text-break" style="margin-bottom: .3rem;">@((MarkupString)GetContent())</p>
            @*@if (Tree.Note.NoteMetadata.HashTags.Count > 0)
            {
                <p class="mb-1">
                    @foreach (var tag in Tree.Note.NoteMetadata.HashTags)
                    {
                        <a href="/tag/@tag" @onclick:stopPropagation="true">#@tag</a>
                        <span>&nbsp;</span>
                    }
                </p>
            }*@
            @*@if (Tree.Note.NoteMetadata.EventMentions.Count > 0)
            {
                <p class="mb-1">
                    @foreach (var _event in Tree.Note.NoteMetadata.EventMentions)
                    {
                        <a href="/note/@_event.Value" @onclick:stopPropagation="true">
                            @ByteTools.PubkeyToNote(_event.Value, true)
                        </a>
                        <span>&nbsp;</span>
                    }
                </p>
            }*@
            @*@if (Tree.Note.NoteMetadata.AccountMentions.Count > 0)
            {
                <p class="mb-1">
                    @foreach (var mention in Tree.Note.NoteMetadata.AccountMentions)
                    {
                        <a href="/account/@mention.Value" @onclick:stopPropagation="true"><span>@@</span>@Utils.ShortenNostrId(mention.Value)</a>
                        <span>&nbsp;</span>
                    }
                </p>
            }*@
            @if (!ReplyingTo)
            {
                <div class="lh-lg w-100" style="margin-right:-1.5rem;">
                    @if (Tree.Note.NoteMetadata.Reactions.Count > 0)
                    {
                        var groupedReactions = Tree.Note.NoteMetadata.Reactions.GroupBy(r => NormalizedReaction(r.Content)).OrderByDescending(g => g.Count());
                        @foreach (var reaction in groupedReactions.Take(3))
                        {
                            <span class="py-2 me-4">
                                <span class="d-inline-block">
                                    <a role="button" @onclick="@(() => {})" @onclick:stopPropagation="true" class="d-flex align-items-center justify-content-center rounded-5 fs-6 text-secondary text-decoration-none" style="width:32px;height:32px;">
                                        @NormalizedReaction(reaction.Key)
                                    </a>
                                </span><span class="fs-7 fw-bold">@reaction.Count()</span>
                            </span>
                        }
                        var remainingReactionCount = groupedReactions.Skip(3).Sum(reaction => reaction.Count());
                        if (remainingReactionCount > 0)
                        {
                            <span class="py-2 me-4">
                                <span class="d-inline-block">
                                    <a role="button" @onclick="@(() => {})" @onclick:stopPropagation="true" class="d-flex align-items-center justify-content-center rounded-5 fs-6 text-secondary text-decoration-none" style="width:32px;height:32px;">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </span><span class="fs-7 fw-bold">@remainingReactionCount</span>
                            </span>
                        }
                    }
                    @if (accountService.MainAccount != null)
                    {
                        <div class="d-inline-block">
                            <a role="button" @onclick="Reply" @onclick:stopPropagation="true" class="p-2 rounded-5 fs-6 text-secondary me-4 bg-primary-opacity-10-hover">
                                <i class="bi bi-chat"></i>
                            </a>
                            @*<a role="button"  @onclick="@(() => { })" @onclick:stopPropagation="true" class="p-2 rounded-5 fs-6 text-secondary me-4 bg-primary-opacity-10-hover">
                                <i class="bi bi-repeat"></i>
                            </a>*@
                            <a role="button" @onclick="@LikeNote" @onclick:stopPropagation="true" class="p-2 rounded-5 fs-6 text-secondary me-4 @(!likeSent ? "bg-primary-opacity-10-hover" : "")">
                                <i class="bi @(!likeSent ? "bi-heart" : "bi-heart-fill")"></i>
                            </a>
                            @if (Tree.Note.PublicKey == accountService.MainAccount.Id)
                            {
                                <a role="button" @onclick="@Delete" @onclick:stopPropagation="true" class="p-2 rounded-5 fs-6 text-secondary me-4 bg-primary-opacity-10-hover">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            }
                        </div>
                    }
                    @*<a role="button" @onclick="@(() => { })" @onclick:stopPropagation="true" class="p-2 rounded-5 fs-6 text-secondary me-4 bg-primary-opacity-10-hover">
                        <i class="bi bi-clipboard"></i>
                    </a>*@
                </div>
            }
        </div>
    }
</div>

@if (!ReplyingTo && Tree.Children.Count > 0)
{
    <NoteTreeViewer @ref="NoteTreeViewerRef" 
        Trees="@Tree.Children" NewestOnTop="false" MainEventId="@MainEventId"
        TreeLayout="@TreeLayout"
        OnlyChild="@(Tree.Children.Count == 1)"
        OnReply="@OnReply" />
}

@code {
    private bool likeClicked = false;
    private bool likeSent => likeClicked || Tree.Note.NoteMetadata.Reactions.Any(r => r.ReactorId == accountService?.MainAccount.Id);
    private IJSObjectReference jsModule;
    private ElementReference referenceElement;
    private NoteTreeViewer NoteTreeViewerRef;

    [Parameter]
    public NoteTree Tree { get; set; }

    [Parameter]
    public string MainEventId { get; set; }

    [Parameter]
    public bool ReplyingTo { get; set; }

    [Parameter]
    public int[] TreeLayout { get; set; }

    [Parameter]
    public bool OnlyChild { get; set; }

    [Parameter]
    public Action<NoteViewer> OnComponentLoad { get; set; }

    [Parameter]
    public Action<NoteViewer> OnComponentUnload { get; set; }

    [Parameter]
    public Action<NoteTree> OnReply { get; set; }

    protected override void OnInitialized()
    {
        accountService.AccountDetailsChanged += AccountDetailsChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && OnComponentLoad != null)
        {
            OnComponentLoad(this);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firtRender)
    {
        if (firtRender)
        {
            jsModule = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "../NoteViewer.js");
        }
    }

    private void AccountDetailsChanged(object sender, (string accountId, AccountDetails details) data)
    {
        if (data.accountId != Tree.Note.PublicKey) return;
        Tree.AccountName = data.details.Name;
        Tree.PictureUrl = data.details.PictureUrl;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private void LikeNote()
    {
        if (likeSent)
        {
            return;
        }
        feedService.SendReaction("+", Tree.Note, accountService.MainAccount);
        likeClicked = true;
    }

    private void Reply()
    {
        if (OnReply != null)
        {
            OnReply(Tree);
        }
    }

    private void Delete()
    {
        feedService.DeleteNote(Tree.Note, accountService.MainAccount);
    }

    private string NormalizedReaction(string reaction)
    {
        if (string.IsNullOrEmpty(reaction) || reaction == "+")
        {
            return "❤️";
        }
        else
        {
            return reaction;
        }
    }

    public async Task<bool> IsVisibleAsync()
    {
        return jsModule != null
            ? await jsModule.InvokeAsync<bool>("isVisible", referenceElement)
            : false;
    }

    public IEnumerable<NoteViewer> GetNoteViewers()
    {
        return (new NoteViewer[] { this }).Concat(NoteTreeViewerRef?.GetNoteViewers() ?? Enumerable.Empty<NoteViewer>());
    }

    private string GetContent()
    {
        var content = Tree.Note.Content ?? string.Empty;
        var metadata = Tree.Note.NoteMetadata;

        if (Tree.Note.Kind == NostrKind.Repost && metadata.EventMentions.ContainsKey(0))
        {
            return $"<i class='bi bi-repeat p-2'></i><a href='note/{metadata.EventMentions[0]}' onclick='(e=>e.stopPropagation())(event)'>{ByteTools.PubkeyToNote(metadata.EventMentions[0], true)}</a>";
        }

        // sanitize original content
        content = htmlSanitizer.Sanitize(content);

        // new lines
        content = content.Replace("\n", "<br/>");

        // mentions
        foreach (var index in Enumerable.Range(0, Tree.Note.Tags.Count))
        {
            if (content.Contains($"#[{index}]"))
            {
                if (metadata.EventMentions.ContainsKey(index))
                {
                    content = content.Replace($"#[{index}]", $"<a href='note/{metadata.EventMentions[index]}' onclick='(e=>e.stopPropagation())(event)'>{ByteTools.PubkeyToNote(metadata.EventMentions[index], true)}</a>");

                }
                else if (metadata.AccountMentions.ContainsKey(index))
                {
                    content = content.Replace($"#[{index}]", $"<a href='account/{metadata.AccountMentions[index]}' onclick='(e=>e.stopPropagation())(event)'>{HttpUtility.HtmlEncode(accountService.GetAccountName(metadata.AccountMentions[index]))}</a>");
                }
            }
        }

        // hashtags
        // TODO: improve this so there is no need for two passes
        var hashtags = metadata.HashTags.OrderByDescending(t => t.Length);
        foreach (var tag in hashtags)
        {
            content = content.Replace($"#{tag}", $"#!{tag}!", StringComparison.OrdinalIgnoreCase);
        }
        foreach (var tag in hashtags)
        {
            content = content.Replace($"#!{tag}!", $"<a href='tag/{tag}' onclick='(e=>e.stopPropagation())(event)'>#{tag}</a>", StringComparison.OrdinalIgnoreCase);
        }

        return content;
    }

    #region Dispose
    private bool _disposed;

    async ValueTask IAsyncDisposable.DisposeAsync() => await Dispose(true);

    protected virtual async Task Dispose(bool disposing)
    {
        if (!_disposed)
        {
            if (disposing)
            {
                await Cleanup();
            }

            _disposed = true;
        }
    }

    private async Task Cleanup()
    {
        if (OnComponentUnload != null)
        {
            OnComponentUnload(this);
        }
        accountService.AccountDetailsChanged -= AccountDetailsChanged;
        if (jsModule is not null)
        {
            await jsModule.DisposeAsync();
        }
    }
    #endregion
}
